@tailwind base;
@tailwind components;
@tailwind utilities;

/* スクロールバー2 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
::-webkit-scrollbar-thumb {
    background: #606060;
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #909090;
    border-radius: 9999px;
  }
  
::-webkit-scrollbar-track { /* 上下に余白を付ける */
    overflow: hidden
  }
  